* {
    margin: 0; padding: 0; box-sizing: content-box;
}

body {
    background-color:rgb(179, 105, 34);
    background-color:rgb(250, 237, 164);
    font-family: 'Abel',Helvetica,Arial,Lucida,sans-serif;
    color: white;
    margin: auto;
    width: 95vw;   
    border: 0.1vw white solid;
}

header {
    background-color:rgb(91, 52, 39);  
    position: fixed;
    top: 0;
    z-index: 5;
    width: 95vw;    
    height: auto;
    border-bottom: 0.1vw white solid;
}

.menuppal {
    display: flex;
    height: 23vh;
}

#logo {
    /* Imagen del logo */
    width: 30vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-right: 0.1vw white solid;
}

#menu {
    width: 80vw;  
}

#menutopheader {
    display: flex;
    flex-direction: column;
    height: 17vh;
}

#menutopheader h1 {
    /* Avellino */ 
    font-family: 'Oleo Script Swash Caps', cursive;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 9vh;
}

#menutopheader h2 {
    /* Helado Artesanal Natural */
    text-transform: capitalize;
    letter-spacing: 0.25vw;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    font-size: 1.25vw;
}

nav {
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.1vh white solid;
}

nav ul {
    line-height: 5vh;
    font-variant: small-caps;
}

nav ul a {  
    text-decoration: none;
    color:white;
    font-size: 1.4vw;
}

main {
    margin-top: 22.35vh;
    background-color: rgb(91, 52, 39); 
}

main section{
    scroll-margin-top: 22.35vh;
    padding-left: 2vw;
    padding-top: 5vh;
}

main section h1 {
    -webkit-text-stroke: 0.1vh  rgb(179, 105, 34);
    text-transform: uppercase;
    color:rgb(255, 183, 27);
    font-weight: 700;
    font-size: 2.5vw;
    margin-bottom: 2.2vh;
    padding-left: 2vw;
}

main section p {
    padding-left: 2vw;
    font-size: 1.2em;
    line-height: 1.7em;
}

.boxBottomTittle {
    padding-left: 1vw;
    margin-right: 3vw;
}

/* NOSOTROS - Seccion 1 */
#Seccion1 {
    background-image: url(../Images/Fondo_avellino.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 77vh;
    width: 100%;
    padding-top: 0;
    padding-left: 0;
}

#prequienessomos {
    padding-left: 1.4vw;
    padding-top: 15vh;
    opacity: 0.87;
}

#quienessomos {
    background-color: rgb(91, 52, 39);
    border-radius: 2vh;
    width: 20vw;
    padding-top: 2vh;
    padding-bottom: 3vh;
}

#quienessomos h1 {
    text-align: center;
    padding-left: 0;
}

#quienessomos p {
    font-size: 1.5vw;
    color:white;
    padding-left: 1.5vw;    
    padding-right: 1.5vw;
    text-align: left;
    line-height: 5vh;
    -webkit-text-stroke: 0.2px black ;
    opacity: 1;
}

/* PRODUCTOS - SECCION 2 */
#Seccion2, #Seccion3 {
    text-align: center;
    font-size: 1.3vw;
    line-height: 6vh;
}

.sabores {
    margin-top: 3vh;
    margin-bottom: 3vh;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.sabores div {
    border-radius: 10%;
    background-color:rgb(179, 105, 34);
    margin-bottom: 3vh;
    margin: 2vh 3.5vw;
    height: auto;
    padding-bottom: 4vh;
}

.sabores div ul {
    text-align: center;
    line-height: 3.7vh;
    font-size: bold;
}

.sabores h1 {
    margin-top: 1.5vh;
    padding-left: 0;}

/* GALERIA DE FOTOS - SECCION 3 */
#gallery {
    display: grid;
    padding-top: 6vh;
    padding-left: 7.7vw;
    grid-template-columns: 25vw 25vw 25vw;}
    

.grid-item img{
    width: 90%;
    height: 90%;}

/* CONTACTO  - SECCION 4 */
main section:last-child {
    height: auto}

.datoscontacto {
    display: grid;
    grid-template-columns: 35% 70%;}

.datoscontacto a{
    text-decoration: none;
    color: white;}
    
.datoscontacto p{
    padding-left: 0;
    word-wrap: break-word;}

#imagengooglemaps {
    margin-top: -7vh;
}

#imagengooglemaps iframe {
    height: 68vh;
    width: 90%;}

/* Direccion */
.direccion {
    padding-left: 2.5vw;
}

.direccion h2, .formulario h2 {
    font-size: 1.9vw;
    color:rgb(255, 183, 27);    
    text-transform: uppercase;
    margin-bottom: 1.5vh;
    margin-top: 3vh;
    padding-top: 3vh;}

.direccion p, a {
    font-size: 1.25vw;
}

/* TELEFONO */
#telefono::before {
    content: '.';
    background: url('../Images/icon_phone.png');
    background-size: cover;
    height: 50px;
    width: 50px;
}

/* Formulario */
.formulario {
    padding-left: 1.5vw;
}

form{
    margin-left: 0.8vh;
    margin-top: 5vh;
	width: 40vw;
}

form input[type="text"],
form input[type="email"]{
	width: 13.8vw;
    height: 3.5vh;
	padding: 1vh;
	border: 1px solid #f6f6f6;
	background-color:#f6f6f6;
    margin-right: 1.5vw;
    margin-bottom: 1.8vh;
	display:inline-block;
}

textarea{
	width: 31.5vw;
	height: 20vh;
	border: 1px solid #f6f6f6;
	background-color: #f6f6f6;	
	resize: none;
	display: block;
}

form input[type="submit"]{
	width: 10vw;
    height: 3.5vh;
	padding: 8px;
	border: 1px solid #000;
	display: block;
	color: #fff;
	background-color: #000;
} 

form input[type="submit"]:hover{
	cursor: pointer;
}

/* FOOTER  - PIE */
footer {
    padding-top: 15vh;
    padding-bottom: 2vh;
    background-color: rgb(91, 52, 39);}

footer p {
    text-align: center;}