* {
    margin: 0; padding: 0; box-sizing: content-box;
}

body {
    background-color:rgb(179, 105, 34);
    background-color:rgb(250, 237, 164);
    font-family: 'Abel',Helvetica,Arial,Lucida,sans-serif;
    color: white;   
    border: 0.1vw white solid;
}

#general {
    margin: auto;
    width: 90vw;
}

header {
    background-color:rgb(91, 52, 39);  
    position: fixed;
    top: 0;
    z-index: 5;
    width: 90vw;
    height: 140px;
    border-bottom: 0.1vw white solid;
    box-shadow:  0 3px 10px -2px black;
    display: flex;
    flex-direction: column;
    box-shadow:  0 3px 10px -2px black;
}

#topHeader {
    /* Imagen del logo */
    background-image: url(../Images/imagen_logo.jpg);
    width: 100%;
    height: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.1vh white solid;
    /* box-shadow:  0px 2px 10px 2px white; */
}

nav ul {
    font-variant: small-caps;
}

nav ul a {  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color:white;
    font-size: 1.8em;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 17vh;
    background-color: rgb(91, 52, 39); 
}

main section{
    scroll-margin-top: 17vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 3.5vh;
    padding-bottom: 10vh;
}

main section h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 0.1vh  rgb(179, 105, 34);
    text-transform: uppercase;
    color:rgb(255, 183, 27);
    font-weight: 700;
    font-size: 3em;
    padding-top: 1vh;
    margin-bottom: 3vh;
    padding-left: 2vw;
}

main section p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 2vw;
    font-size: 1.5em;
    line-height: 1.7em;
}

.boxBottomTittle {
    padding-left: 1vw;
    margin-right: 3vw;
}

/* NOSOTROS - section 1 */
#section1 {
    background-image: url(../Images/Fondo_avellino.jpg);
    background-position-x: center;
    background-position-y: -13vh;
    background-repeat: no-repeat;
    background-size: cover;
    height: 84.5vh;
}

#aboutUs {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 55%;
    left: 20%;
    background-color: rgb(91, 52, 39);
    border-radius: 2vh;
    width: 50vw;
    height: auto;
    padding-bottom: 1%;
    opacity: 75%;
}

#aboutUs h1 {
    font-size: 3em;
    text-align: center;
}

#aboutUs p {
    font-size: 1.5em;
    color:white;
    padding-left: 1.5vw;    
    padding-right: 1.5vw;
    text-align: center;
    line-height: 5vh;
    -webkit-text-stroke: 0.2px black ;
    opacity: 1;
}

/* PRODUCTOS - SECTION 2 */
#section2, #section3 {
    text-align: center;
    line-height: 6vh;
}

.sabores {
    margin-top: 3vh;
    margin-bottom: 3vh;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.sabores div {
    border-radius: 10%;
    background-color:rgb(179, 105, 34);
    margin-bottom: 3vh;
    margin: 2vh 3.5vw;
    height: auto;
    padding-bottom: 4vh;
}

.sabores div ul {
    text-align: center;
    line-height: 3.7vh;
    font-size: bold;
}

.sabores h1 {
    margin-top: 1.5vh;
    padding-left: 0;}

/* GALERIA DE FOTOS - section 3 */
#gallery {
    display: grid;
    padding-top: 6vh;
    padding-left: 3vw;
    grid-template-columns: 19vw 19vw 19vw 19vw;}

#section2, #section3, #section4 {
    border-top: 3px solid white;
    box-shadow:  0 3px 10px -2px black;
}

#section3 h1 {
    padding-left: 0;
    margin: 0;
    }
        
.grid-item img{
    width: 18vw;
    height: 32.5vh;
    height: 90%;
}

/* CONTACTO  - section 4 */
main section:last-child {
    height: auto;
    padding-bottom: 10vh;}
    
#classContact h1{
    padding: 0;
}

/* Direccion */
.direccion {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
    justify-content: space-evenly;
    padding-bottom: 3vh;
}

.direccion h2, .classForm h2 {
    font-size: 2.2em;
    color:rgb(255, 183, 27);    
    text-transform: uppercase;
    margin-bottom: 1.5vh;}

.direccion p, .direccion a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding-left: 0;
    word-wrap: break-word;    
}

#datosdirecc h2 {
    padding-top: 5vh;
}

#imagengooglemaps iframe{
    width: 100%;
    height: 45vh;
}

/* TELEFONO */
#telefono::before {
    content: '';
    background: url('../Images/icon_phone.png');
    background-size: cover;
    height: 50px;
    width: 50px;
}

.classForm {
    display: flex;
    flex-direction: column;
}

form{
    margin-left: 0.8vh;
    margin-top: 5vh;
	width: 40vw;}

form input[type="text"],
form input[type="email"]{
	width: 13.8vw;
    height: 3.5vh;
	padding: 1vh;
	border: 1px solid #f6f6f6;
	background-color:#f6f6f6;
    margin-right: 1.5vw;
    margin-bottom: 1.8vh;
	display:inline-block;
}

textarea{
	width: 31.5vw;
	height: 20vh;
	border: 1px solid #f6f6f6;
	background-color: #f6f6f6;	
	resize: none;
	display: block;
}

form input[type="submit"]{
    position: relative;
    left: 20vw;
	width: 10vw;
    height: 3.5vh;
	padding: 8px;
	border: 1px solid #000;
	display: block;
	color: #fff;
	background-color: #000;} 

form input[type="submit"]:hover{
	cursor: pointer;}

/* FOOTER  - PIE */
footer {
    padding: 2.5vh;
    background-color: rgb(49, 49, 49);
    box-shadow:  0 -2px 8px -2px grey;
}

footer p {
    text-align: center;}


/* Media scren 480px */
@media (max-width: 480px) {
    body {
        width: 90%;}

    header {
        width: 100%;
        height: 15vh;}

    #topHeader {
        width: 100%;
        height: 15vh;}

    #bottomHeader {
        display: none;}

    main {
        margin-top: 15vh;
    }
    
    #section1 {
        width: 100%;
        height: 84vh
    }
    
    #preaboutUs {
        position: absolute;
        padding: 0;
        margin: 0;
        left: 5%;
        top: 65vh;
        width: 90vw;
    }
    #aboutUs{
        display: flex;      
        flex-direction: column;          
        width: 90vw;
    }
    #aboutUs h1{
        font-size: 250%;
    }    
    #aboutUs p{
        font-size: 120%;
    }
}