* {
    margin: 0; padding: 0; box-sizing: content-box;
}

body {
    background-color:rgb(179, 105, 34);
    font-family: 'Abel',Helvetica,Arial,Lucida,sans-serif;
    color: white;
    margin: auto;
    width: 90vw;   
    border: 0.1vw white solid;
}

header {
    background-color:rgb(91, 52, 39);  
    position: fixed;
    top: 0;
    z-index: 5;
    width: 90vw;    
    height: auto;
    border-bottom: 0.1vw white solid;
}

.menuppal {
    display: flex;
    height: 23vh;
}

#logo {
    /* Imagen del logo */
    width: 30vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-right: 0.1vw white solid;
}

#menu {
    width: 80vw;  
}

#menutopheader {
    display: flex;
    flex-direction: column;
    height: 17vh;
}

#menutopheader h1 {
    /* Avellino */ 
    font-family: 'Oleo Script Swash Caps', cursive;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 9vh;
}

#menutopheader h2 {
    /* Helado Artesanal Natural */
    text-transform: capitalize;
    letter-spacing: 0.25vw;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    font-size: 1.25vw;
}

nav {
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.1vh white solid;
}

nav ul {
    line-height: 5vh;
    font-variant: small-caps;
}

nav ul a {  
    text-decoration: none;
    color:white;
    font-size: 1.4vw;
}

main {
    margin-top: 22.35vh;
    background-color: rgb(91, 52, 39); 
}

main section{
    scroll-margin-top: 22.35vh;
    padding-left: 2vw;
    padding-top: 5vh;
}

main section h1 {
    -webkit-text-stroke: 0.1vh  rgb(179, 105, 34);
    text-transform: uppercase;
    color:rgb(255, 183, 27);
    font-weight: 700;
    font-size: 2.5vw;
    margin-bottom: 2.2vh;
}

main section p {
    font-size: 1.2em;
    line-height: 1.7em;
}

.boxBottomTittle {
    padding-left: 1vw;
    margin-right: 3vw;
}

/* NOSOTROS - Seccion 1 */
#Seccion1 {
    background-image: url(../Images/Fondo_avellino.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 76.5vh;
    width: 100%;
    padding-top: 0;
    padding-left: 0;
}

#prequienessomos {
    padding-left: 1.4vw;
    padding-top: 15vh;
    opacity: 0.87;
}

#quienessomos {
    background-color: rgb(91, 52, 39);
    border-radius: 2vh;
    width: 20vw;
    padding-top: 2vh;
    padding-bottom: 3vh;
}

#quienessomos h1 {
    text-align: center;
}

#quienessomos p {
    font-size: 1.5vw;
    color:white;
    padding-left: 1.5vw;    
    padding-right: 1.5vw;
    text-align: left;
    line-height: 5vh;
    -webkit-text-stroke: 0.2px black ;
    opacity: 1;
}


/* PRODUCTOS - SECCION 2 */
.sabores {
    margin-top: 3vh;
    margin-bottom: 3vh;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.sabores div {
    margin-bottom: 3vh;}

.sabores h1 {
    margin-top: 1.5vh;}

/* GALERIA DE FOTOS - SECCION 3 */
#gallery {
    display: grid;
    grid-template-columns: auto auto auto;}

.grid-item img{
    width: 90%;
    height: 90%;}

/* CONTACTO  - SECCION 4 */
main section:last-child {
    height: auto}

main section:last-child h1 {
    margin-bottom: 6vh;}

.datoscontacto {
    display: grid;
    grid-template-columns: 35% 65%;}

.datoscontacto div{
    border: 1px solid white;}

.datoscontacto a{
    text-decoration: none;
    color: white;}
    
.datoscontacto p{
    word-wrap: break-word;}

#imagengooglemaps iframe {
    height: 58vh;
    width: 100%;}

/* Direccion */
.direccion h2, .consultas h2 {
    font-size: 2.5vw;
    color:rgb(255, 183, 27);    
    text-transform: uppercase;
    margin-bottom: 1.5vh;
    margin-top: 3vh;}

.direccion p, a {
    font-size: 1.5vw;}

/* FOOTER  - PIE */
footer {
    padding-top: 15vh;
    padding-bottom: 2vh;
    background-color:rgb(91, 52, 39);}

footer p {
    text-align: center;}