* {
    margin: 0; padding: 0; box-sizing: content-box;
}

body {
    background-color:rgb(250, 237, 164);
    font-family: 'Abel',Helvetica,Arial,Lucida,sans-serif;
    color: white;   
    height: 100%;
}

a {  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color:white;
}

#general {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(91, 52, 39);  
    position: fixed;
    top: 0;
    z-index: 5;
    width: 90%;
    border-bottom: 0.1px white solid;
    box-shadow:  0 3px 10px -2px black;
}

#topHeader {
    text-align: center;}

#topHeader img {
    height: 90px;
    width: auto;}

#bottomHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.1vh white solid;
}

nav ul {
    font-variant: small-caps;
}

nav ul a {  
    font-size: 1.4em;
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgb(91, 52, 39); 
}

main section:not(:first-child){
    scroll-margin-top: 120px;
    padding-top: 2vh;
    height: auto;
    padding-bottom: 6vh;
}

main section h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 0.1vh  rgb(179, 105, 34);
    text-transform: uppercase;
    color:rgb(255, 183, 27);
    font-weight: 700;
    font-size: 2em;
    padding: 1vh 0;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.7em;
}

#section1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url(../Images/Fondo_avellino.jpg);
    background-position-y: 50px;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 99vh;
}

#aboutUs {
    width: 50%;
    height: auto;
    padding-bottom: 1%;
    margin-bottom: 2%;
    border-radius: 2vh;
    background-color: rgb(91, 52, 39);
    opacity: 75%;
}

#aboutUs p {
    font-size: 1em;
    padding: 0 1.5vw;    
    line-height: 5vh;
}

#section1, #section2, #section3 {
    text-align: center;
}

.sabores {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    justify-items: center;
    grid-auto-flow: row;
    margin: 0 4vw;
}

.sabores div {
    background-color:rgba(161, 150, 85, 0.849);
    width: 60%;
    margin: 2vh 0;
}

.sabores div h2 {
    color: rgba(0, 0, 0, 0.774);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.sabores div ul {
    border: 1px solid white;
    color: rgb(255, 233, 109);
    border-right: 0;
    border-left: 0;
    line-height: 3.4vh;
    font-size: 0.9em;
    font-weight: bold;
}

.sabores h2 {
    margin: 1.5vh 0;}

#gallery {
    display: grid;
    padding-top: 3vh;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: center;}

#section2, #section3, #section4 {
    border-top: 3px solid white;
    box-shadow: 0 3px 10px -2px black;
}
        
.grid-item img{
    width: 90%;
    height: 90%;
}

#section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.direccion {
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.direccion h2, .classForm h2 {
    font-size: 1.5em;
    color:rgb(255, 183, 27);    
    text-transform: uppercase;
    margin-bottom: 1.5vh;}

.direccion a, p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    text-decoration: none;
    color: white;
    font-size: 1em;
}

#datosdirecc h2 {
    padding-top: 5vh;
}
#datosdirecc h2:first-of-type {
    padding-top: 3.5vh;
}

.classForm {
    width: 50%;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2vh;
    margin-bottom: 2vh;}

form input[type="text"],
form input[type="email"]{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 2vh 0vw 2vh 2%;
	border: 1px solid #f6f6f6;
	background-color:#f6f6f6;
    margin-right: 2%;
    margin-bottom: 1.5%;
    width: 40%;
    border-width: 0;
}

textarea{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2vh 0 2vh 1%;
    width: 86%; /* = 100% - 1% - 2% - 2%; */
	height: 20vh;
	border: 1px solid #f6f6f6;
	background-color: #f6f6f6;	
	resize: none;
	display: block;
    border-width: 0;
}

form input[type="submit"]{
    margin-top: 4%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1.5vh 6% 1.5vh 6%;
	border: 1px solid #000;
	display: block;
	color: #fff;
	background-color: #000;
} 

form input[type="submit"]:hover{
	cursor: pointer;}

#imagengooglemaps{
    text-align: center;
}

#imagengooglemaps iframe{
        width: 95%;
        height: 50vh;
}

/* FOOTER  - PIE */
footer {
    font-size: 9px;
    padding: 2.5vh 0;
    background-color: rgb(49, 49, 49);
    box-shadow:  0 -2px 8px -2px grey;
}

footer p {
    text-align: center;}

.ir-arriba {
        display:none;
        padding: 15px;px;
        background:rgba(29, 27, 23, 0.623);    
        font-size:20px;
        color:#fff;
        cursor:pointer;
        position: fixed;
        bottom:20px;
        right:20px;
        border-radius: 15%;}

/* Media screen 768px and 1199px */
@media (max-width: 768px) and (max-width: 1199px) {

};
/* max 767px */
/* max 480px */