* {
    margin: 0; padding: 0; box-sizing: content-box;
}

body {
    background-color:rgb(179, 105, 34);
    font-family: 'Abel',Helvetica,Arial,Lucida,sans-serif;
    color: white;
    margin: auto;
    width: 75vw;   
    border: 0.1vw white solid;
}

header {
    background-color:rgb(91, 52, 39);  
    position: fixed;
    top: 0;
    z-index: 5;
    width: 75vw;    
    height: auto;
    border-bottom: 0.1vw white solid;
}

.menuppal {
    display: flex;
    height: 23vh;
}

#logo {
    /* Imagen del logo */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30vw;
    border-right: 0.1vw white solid;
}

#menu {
    width: 100%;  
}

#menu h1 {
    /* Avellino */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1em;
    margin-top: 0.5vw;
    margin-bottom: 0.75vw;
    font-size: 3.2vw;
    font-variant-caps: all-small-caps;
    text-align: center;
}

#menu h2 {
    /* Helado Artesanal Natural */    
    text-transform: capitalize;
    letter-spacing: 0.2em;
    font-style: italic;
    margin-bottom: 1.15vh;
    text-align: center;
    font-weight: bold;
    font-size: 1.5vw;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.1vw white solid;
}

nav ul {
    padding: 1vw;
    font-variant: small-caps;
    text-align: center;    
}

nav ul a {  
    text-align: center;
    line-height: 0;
    text-decoration: none;
    color:white;
    font-size: 1.25vw;
    font-weight: 550;
}

main {
    margin-top: 22.35vh;
}

main section{
    padding-left: 2vw;
}

#Seccion1 {
    background-image: url('/Images/Fondo_avellino.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 76.5vh;
    width: 100%;
    padding-left: 0;
/*     padding-top: 15vw; */    
}

#prequienessomos {
    padding-left: 1%;
    padding-top: 20vh;
    opacity: 0.87;
}

#quienessomos {
    background-color: rgb(91, 52, 39);
    width: 18vw;
    padding-top: 2vh;
    padding-bottom: 3vh;
}

#quienessomos h1 {
    font-size: 2.2vw;
    padding-left: 1.5vw;    
}

#quienessomos p {
    font-size: 1.1vw;
    color:white;
    padding-top: 2.2vh;
    padding-left: 1.5vw;    
    padding-right: 1.5vw;
    text-align: justify;
    line-height: 1.8em;
    -webkit-text-stroke: 0.2px black ;
    opacity: 1;
}

main section h1 {
    -webkit-text-stroke: 1.5px  rgb(179, 105, 34) ;
    /*:rgb(179, 105, 34)*/
    text-transform: uppercase;
    color:rgb(255, 183, 27) ;
    font-weight: 900;
    font-size: 2.3em;
}

main section p {
    font-size: 1.2em;
    line-height: 1.7em;
}

main section :last-child{
    margin-bottom: 1%;
}

#gallery {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item img{
    width: 90%;
    height: 90%;
}

.datoscontacto {
    display:flex;
    justify-content: flex-start;
    margin-top: 1%;}

.datoscontacto a{
    text-decoration: none;
    color: white;}
    
.contactoheladeria {
    padding-left: 5%;
    padding-right:3%;
    padding-top: 2%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 23%;
    margin-bottom: 8%;
}
.contactoheladeria h2{
    padding-top: 5%;
    color:rgb(70, 46, 39);
    font-weight: 900;
    text-transform: uppercase;}

.contactoheladeria p{
    padding-top:3%;
    font-size: 1em;}

#imagengooglemaps {
    padding-top: 2%;
    width: 65%;
    height: 30em;
}

#imagengooglemaps h2, #consultas h2 {
    margin-bottom: 6%;}

#imagengooglemaps iframe {
    height: 75%;
    width: 100%;}

.contactoheladeria h2 {
    margin-top: 10%;}

.telefono h2 {
    margin-top: 0;}

#consultas input{
    width: 95%;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100%;}

#consultas textarea{
    border-width: 2px;
    width: 95%;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;}

#enviar submit {
    width: 50px;
    height: 20px;}

footer {
    padding-top: 10%;
    padding-bottom: 3%;}

footer p {
    text-align: center;
    font-size: 12px;}

/* 
@media (max-width:1020px){

    #logo {
        width: 100%;
    }
    #menu h1 {
        font-size: 100%;
    }
    #menu h2 {
        font-size: 60%;
    }
    #menu nav {
        display: flex;
        flex-direction: column;
        font-size: 60%;
    }
    #menu nav ul {
        border: 1px white solid;
    }

    #menu nav ul a {
        display: block;
    }

    main section{
        padding-top:40%;
    }
}
 */